$black: #1c1c1c;
$l-black: #303030;
$blue: #0282f9;
$grey: #797979;
$header-height: 120px;
$blue-section-height: 155px;
$footer-height: 320px;
$footer-social-height: 110px;
$background-button: rgba(0, 0, 0, 0);